In [46]:
# import libraries
import pandas as pd

In [ ]:

# Import necessary libraries
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

# Define the URL and parameters for the API request
url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}

# Define the headers required for the API request
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': 'fc2b2183-8c89-4965-8036-565e620ec2ac',  # Provide your own API key here
}

# Create a session and update headers
session = Session()
session.headers.update(headers)

# Try to make the API request and handle exceptions
try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)  # Print the response data
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)  # Print the exception if request fails

In [48]:
type(data)

dict

In [49]:
pd.set_option('display.max_columns', None)
df = pd.json_normalize(data['data'])

In [50]:
df['timestamp'] = pd.Timestamp.now()

In [51]:
def api_runner():
    """
    This function makes an API request to fetch cryptocurrency data from CoinMarketCap.
    Note: This example uses Python 2.7 and the python-request library.
    """

    global df  # Global variable to store fetched data

    # Import necessary libraries
    from requests import Request, Session
    from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
    import json
    import pandas as pd

    # Define the URL and parameters for the API request
    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
      'start':'1',
      'limit':'5000',
      'convert':'USD'
    }

    # Define the headers required for the API request
    headers = {
      'Accepts': 'application/json',
      'X-CMC_PRO_API_KEY': 'fc2b2183-8c89-4965-8036-565e620ec2ac',  # Provide your own API key here
    }

    # Create a session and update headers
    session = Session()
    session.headers.update(headers)

    # Try to make the API request and handle exceptions
    try:
      response = session.get(url, params=parameters)
      data = json.loads(response.text)
#       print(data)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
      print(e)

    # Set pandas option to display all columns
    pd.set_option('display.max_columns', None)
    
    # Normalize the JSON data and append to existing dataframe
    df2 = pd.json_normalize(data['data'])
    df2['timestamp'] = pd.Timestamp.now()  # Add timestamp to the data
    df = df.append(df2)  # Append to global dataframe 'df'

In [53]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [ ]:
import os
from time import time
from time import sleep

# Loop to call api_runner function 333 times
for i in range(333):
    api_runner()  # Call the api_runner function
    print('API Runner completed')  # Print a message indicating completion
    sleep(86400)  # Pause execution for 86400 seconds before the next iteration

exit()  # Exit the script

In [54]:
df

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,infinite_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,1,Bitcoin,BTC,bitcoin,10947,2010-07-13T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.00000,19671243.00000,19671243,False,NaN,1,NaN,NaN,NaN,2024-04-02T13:59:00.000Z,65232.85274,48207741735.31659,79.78290,-0.14502,-6.67180,-7.34935,4.59627,53.07174,53.58056,1283211297782.53491,52.17790,1369889907487.44995,NaN,2024-04-02T13:59:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-04-02 16:00:09.642115
1,1027,Ethereum,ETH,ethereum,8698,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,120070727.61205,120070727.61205,True,NaN,2,NaN,NaN,NaN,2024-04-02T13:58:00.000Z,3270.31558,21421020277.11023,77.80460,-0.88560,-8.05150,-9.32980,-4.60163,42.87571,47.61605,392669171217.38617,15.96670,392669171217.39001,NaN,2024-04-02T13:58:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-04-02 16:00:09.642115
2,825,Tether USDt,USDT,tether,80959,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,104657945828.04109,107792615136.82234,True,NaN,3,NaN,NaN,NaN,2024-04-02T13:58:00.000Z,0.99979,94390539273.40021,53.24090,0.03981,-0.06043,-0.03606,-0.04105,0.01298,-0.14964,104636153545.09465,4.25470,107770170140.89000,NaN,2024-04-02T13:58:00.000Z,1027.00000,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2024-04-02 16:00:09.642115
3,1839,BNB,BNB,bnb,2128,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,149535678.58123,149535678.58123,False,NaN,4,NaN,NaN,NaN,2024-04-02T13:58:00.000Z,551.91670,2481880021.48660,41.29640,-0.37881,-6.74964,-5.81873,33.62354,83.95813,76.49305,82531238735.91209,3.35980,82531238735.91000,NaN,2024-04-02T13:58:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-04-02 16:00:09.642115
4,5426,Solana,SOL,solana,649,2020-04-10T00:00:00.000Z,"[pos, platform, solana-ecosystem, cms-holdings...",NaN,444827616.06093,573208719.71951,True,NaN,5,NaN,NaN,NaN,2024-04-02T13:58:00.000Z,178.03746,4317941272.31400,27.28460,-0.55092,-9.73747,-7.59244,38.26029,80.62775,83.10065,79195979876.69350,3.22400,102052625765.56000,NaN,2024-04-02T13:58:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-04-02 16:00:09.642115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,19261,Aavegotchi FOMO,FOMO,aavegotchi-fomo,14,2022-04-01T03:30:33.000Z,"[collectibles-nfts, gaming, metaverse, polygon...",50000000000.00000,0.00000,10148157974.84140,False,NaN,4996,19903352.51200,44528.71140,NaN,2024-04-02T13:58:00.000Z,0.00224,15857.16124,323.12240,1.19458,2.54216,113.97587,130.68426,143.98737,48.95787,0.00000,0.00000,111862339.21000,NaN,2024-04-02T13:58:00.000Z,3890.00000,Polygon,MATIC,polygon,0x44a6e0be76e1d9620a7f76588e4509fe4fa8e8c8,2024-04-02 16:00:16.518531
4996,7200,Bidao,BID,bidao,21,2020-09-28T00:00:00.000Z,"[cosmos-ecosystem, injective-ecosystem]",2650000000.00000,0.00000,2650000000,False,NaN,4997,NaN,NaN,NaN,2024-04-02T13:57:00.000Z,0.00179,15855.53379,180.70520,0.00000,-3.48296,-5.92911,-6.05559,35.53017,177.34874,0.00000,0.00000,4735552.09000,NaN,2024-04-02T13:57:00.000Z,1027.00000,Ethereum,ETH,ethereum,0x25e1474170c4c0aA64fa98123bdc8dB49D7802fa,2024-04-02 16:00:16.518531
4997,16547,Trisolaris,TRI,trisolaris,23,2021-12-28T08:34:39.000Z,[near-protocol-ecosystem],181742469.61500,0.00000,181742469.61500,False,NaN,4998,16742513.00000,73494.89806,NaN,2024-04-02T13:58:00.000Z,0.00439,15821.08370,-14.18230,-1.07991,-7.68456,-27.36728,8.20438,-4.36796,-21.51751,0.00000,0.00000,797798.05000,NaN,2024-04-02T13:58:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-04-02 16:00:16.518531
4998,23566,MIR Token,MIR,mir-token,11,2023-02-19T22:38:48.000Z,[],10000000000.00000,0.00000,10000000000,False,NaN,4999,10000000000.00000,3004632.30478,NaN,2024-04-02T13:57:00.000Z,0.00030,15809.07671,-74.16010,0.67468,124.31864,56.60301,64.66982,-40.41184,-64.43249,0.00000,0.00000,3004632.30000,NaN,2024-04-02T13:57:00.000Z,1839.00000,BNB Smart Chain (BEP20),BNB,bnb,0x2134f3A7b18aE4161fBaB6EcCCa7497E17a6777b,2024-04-02 16:00:16.518531
4999,18154,Metan Evolutions,METAN,metan-evolutions,8,2022-02-17T06:29:09.000Z,[],100000000.00000,0.00000,0,False,NaN,5000,2865992.00000,19743.23894,NaN,2024-04-02T13:57:00.000Z,0.00689,15801.40260,1.41990,-3.96337,-4.23008,-4.78771,-0.50698,-13.48624,20.22373,0.00000,0.00000,688879.76000,NaN,2024-04-02T13:57:00.000Z,1839.00000,BNB Smart Chain (BEP20),BNB,bnb,0x879D239BCC0356Cf9df8c90442488bCe99554c66,2024-04-02 16:00:16.518531

In [55]:
df3 =df.groupby('name', sort=False)[['quote.USD.percent_change_1h', 'quote.USD.percent_change_24h','quote.USD.percent_change_7d','quote.USD.percent_change_30d','quote.USD.percent_change_60d','quote.USD.percent_change_90d']].mean()

In [56]:
df4 = df3.stack()
df4

name
Bitcoin           quote.USD.percent_change_1h     -0.14502
                  quote.USD.percent_change_24h    -6.67180
                  quote.USD.percent_change_7d     -7.34935
                  quote.USD.percent_change_30d     4.59627
                  quote.USD.percent_change_60d    53.07174
                                                    ...
Metan Evolutions  quote.USD.percent_change_24h    -4.23008
                  quote.USD.percent_change_7d     -4.78771
                  quote.USD.percent_change_30d    -0.50698
                  quote.USD.percent_change_60d   -13.48624
                  quote.USD.percent_change_90d    20.22373
Length: 29802, dtype: float64

In [57]:
df4.count()
df5 = df4.to_frame(name='values')
df5

                                                 values
name
Bitcoin          quote.USD.percent_change_1h   -0.14502
                 quote.USD.percent_change_24h  -6.67180
                 quote.USD.percent_change_7d   -7.34935
                 quote.USD.percent_change_30d   4.59627
                 quote.USD.percent_change_60d  53.07174
...                                                 ...
Metan Evolutions quote.USD.percent_change_24h  -4.23008
                 quote.USD.percent_change_7d   -4.78771
                 quote.USD.percent_change_30d  -0.50698
                 quote.USD.percent_change_60d -13.48624
                 quote.USD.percent_change_90d  20.22373

[29802 rows x 1 columns]

In [58]:
index = pd.Index(range(29802))


df6 = df5.reset_index()
df6

                   name                       level_1    values
0               Bitcoin   quote.USD.percent_change_1h  -0.14502
1               Bitcoin  quote.USD.percent_change_24h  -6.67180
2               Bitcoin   quote.USD.percent_change_7d  -7.34935
3               Bitcoin  quote.USD.percent_change_30d   4.59627
4               Bitcoin  quote.USD.percent_change_60d  53.07174
...                 ...                           ...       ...
29797  Metan Evolutions  quote.USD.percent_change_24h  -4.23008
29798  Metan Evolutions   quote.USD.percent_change_7d  -4.78771
29799  Metan Evolutions  quote.USD.percent_change_30d  -0.50698
29800  Metan Evolutions  quote.USD.percent_change_60d -13.48624
29801  Metan Evolutions  quote.USD.percent_change_90d  20.22373

[29802 rows x 3 columns]

In [63]:
df7 = df6.rename(columns={'level_1': 'percent_change'})
df7

                   name                percent_change    values
0               Bitcoin   quote.USD.percent_change_1h  -0.14502
1               Bitcoin  quote.USD.percent_change_24h  -6.67180
2               Bitcoin   quote.USD.percent_change_7d  -7.34935
3               Bitcoin  quote.USD.percent_change_30d   4.59627
4               Bitcoin  quote.USD.percent_change_60d  53.07174
...                 ...                           ...       ...
29797  Metan Evolutions  quote.USD.percent_change_24h  -4.23008
29798  Metan Evolutions   quote.USD.percent_change_7d  -4.78771
29799  Metan Evolutions  quote.USD.percent_change_30d  -0.50698
29800  Metan Evolutions  quote.USD.percent_change_60d -13.48624
29801  Metan Evolutions  quote.USD.percent_change_90d  20.22373

[29802 rows x 3 columns]

In [64]:
df7['percent_change'] = df7['percent_change'].replace(['quote.USD.percent_change_24h','quote.USD.percent_change_7d','quote.USD.percent_change_30d','quote.USD.percent_change_60d','quote.USD.percent_change_90d'],['24h','7d','30d','60d','90d'])
df7

                   name               percent_change    values
0               Bitcoin  quote.USD.percent_change_1h  -0.14502
1               Bitcoin                          24h  -6.67180
2               Bitcoin                           7d  -7.34935
3               Bitcoin                          30d   4.59627
4               Bitcoin                          60d  53.07174
...                 ...                          ...       ...
29797  Metan Evolutions                          24h  -4.23008
29798  Metan Evolutions                           7d  -4.78771
29799  Metan Evolutions                          30d  -0.50698
29800  Metan Evolutions                          60d -13.48624
29801  Metan Evolutions                          90d  20.22373

[29802 rows x 3 columns]

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# This line generates a categorical plot using seaborn's catplot function.
# It visualizes the relationship between 'percent_change' and 'values' columns from the DataFrame df7,
# while distinguishing different categories represented by the 'name' column.
# The kind of plot df10 = df[['name','quote.USD.price','timestamp']]
is set to 'point'.
sns.catplot(x='percent_change', y='values', hue='name', data=df7, kind='point')

In [ ]:
# Selecting specific columns 'name', 'quote.USD.price', and 'timestamp' from DataFrame df
df10 = df[['name','quote.USD.price','timestamp']]

# Filtering the DataFrame to include only rows where the 'name' column is 'Bitcoin'
df10 = df10.query("name == 'Bitcoin'")

# Displaying the filtered DataFrame df10
df10

# Setting seaborn theme to 'darkgrid' for plotting
sns.set_theme(style="darkgrid")

# Generating a line plot using seaborn's lineplot function, where 'timestamp' is plotted on the x-axis
# and 'quote.USD.price' is plotted on the y-axis, based on data from DataFrame df10
sns.lineplot(x='timestamp', y='quote.USD.price', data = df10)